



/* எக்ஸ் தளத்தின் அசல் பிரகாசமான நீல நிற பட்டன் */
.btn-tweet {
    background-color: #1d9bf0 !important;
    border: none !important;
    color: white !important;
}

/* பட்டன் மீது மவுஸை வைக்கும்போது லேசான கறுப்பு நிறம் மாற */
.btn-tweet:hover {
    background-color: #1a8cd8 !important;
    color: white !important;
}

/* சர்ச் பாக்ஸ் கிளிக் செய்யும்போது பார்டர் நீல நிறமாக மாற */
.search-box-container:focus-within {
    background-color: black !important;
    border: 1px solid #1d9bf0;
}

/* உள்ளே இருக்குற எழுத்தின் நிறம் */
.search-box-container input::placeholder {
    color: #6e767d;
}